/* Fonte Eagle Lake */
body {
    font-family: 'Eagle Lake', cursive;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #1a1a1a;
    color: white;
}

/* Botões alinhados horizontalmente */
.stat-buttons-inline {
    display: inline-flex;
    gap: 10px;
    margin-left: 10px; /* Espaço entre o resultado e os botões */
}

.button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    font-family: 'Eagle Lake', cursive;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}
